@import "tailwindcss";

:root {
  --background: var(--neutral-0);
  --foreground: var(--neutral-950);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Neutral Colors */
  --neutral-0: #ffffff;
  --neutral-50: #f4f4f5;
  --neutral-100: #e4e4e7;
  --neutral-200: #d4d4d8;
  --neutral-300: #a1a1aa;
  --neutral-400: #71717a;
  --neutral-500: #52525b;
  --neutral-600: #3f3f46;
  --neutral-700: #27272a;
  --neutral-800: #18181b;
  --neutral-900: #09090b;
  --neutral-950: #040718;

  /* Blue Colors */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-500: #3b82f6;
  --blue-700: #1d4ed8;

  /* Green Colors */
  --green-100: #dcfce7;
  --green-500: #22c55e;

  /* Red Colors */
  --red-100: #fee2e2;
  --red-500: #ef4444;

  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  --shadow-small: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-medium: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-large: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .dark {
    --background: var(--neutral-950);
    --foreground: var(--neutral-50);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}